<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>487429423287-nnk50gke81h11eanndqkk9t5entctl9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487429423287-nnk50gke81h11eanndqkk9t5entctl9j</string>
	<key>API_KEY</key>
	<string>AIzaSyBKXNgHdsq6B4IiRtnAzL1N6UBsQLNho4c</string>
	<key>GCM_SENDER_ID</key>
	<string>487429423287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.south-bend-code-school.Todoo</string>
	<key>PROJECT_ID</key>
	<string>todoo-c2a6f</string>
	<key>STORAGE_BUCKET</key>
	<string>todoo-c2a6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:487429423287:ios:1bda56000a513f0d</string>
	<key>DATABASE_URL</key>
	<string>https://todoo-c2a6f.firebaseio.com</string>
</dict>
</plist>